.min-height {
    min-height: 1200px;
    border: 1px solid #669;
    /*background: rgba(122,255,100,0.4);*/
    background: whitesmoke;
}

.userpage {
    text-align: center;
}


.border {
    border: 1px solid #666;
}

.thead {
    font-size: 24px;
    text-align: center;
    padding: 5px;
    word-break: break-word;
}

.tbody {
    font-size: 20px;
    padding: 10px;
}

@media(max-width: 992px) {
    .thead {
        font-size: 17px;
        text-align: left;
        padding: 5px;
        font-weight: 300
    }

    .tbody {
        font-size: 15px;
        padding: 4px;
        font-weight: 300;
        word-break: break-word;
    }
}

/*#f8f8f8*/

/*@media*/
.user-section-aside {
    background-color: #fff;
    min-height: 300px;
    border-right: 1px solid #669;
}

.aside-content {
    font-size: 18px;
    line-height: 1.3;
}

.aside-text {
    /* padding: 10px */
}

.aside-text:hover {
    background-color: #999;
    cursor: pointer;
}

.aside-text:nth-child(odd) {
    background-color: #669
}

.aside-text a {
    font-size: 18px;
    line-height: 1.3;
    padding: 10px;
    display: block;
    color: #fff;
}

.default-main-content {
    font-size: 25px;
    color: #669;
    font-family: sans-serif;
    width: 100%
}

.default-main-content p {
    padding: 10px;
}

.product p {
    padding: 18px;
    margin-bottom: 30px;
}


@media (min-width: 767px) {
    .md-toggle-none {
        display: none!important;
    }
}

@media (min-width: 767px) {
    .side-drawer-none {
        left: -550px;
        top: 68px;
        padding: 10px 0;
        height: 100%;
        background-color: #35424a!important;
        position: absolute;
        transition: left .5s cubic-bezier(0.820, 0.085, 0.395, 0.895);
    }
}

@media (max-width: 767px) {
    .min-height {
        min-height: 700px;
    }

    .dropdown-none {
        display: none;
        padding: 10px 0;
        z-index: 200;
        height: 0;
        position: relative;
        opacity: 0;
        transition: all ease-in 4s;
    }

    .side-drawer-none {
        left: -550px;
        top: 68px;
        padding: 10px 0;
        height: 100%;
        background-color: #35424a!important;
        position: absolute;
        transition: left .5s cubic-bezier(0.820, 0.085, 0.395, 0.895);
    }

    .side-drawer-none a {
        color: #fff;
    }

    .user-section-aside li a {
        color: white
    }

    .aside-text:nth-child(odd) {
        background-color: #35424a!important
    }

    .aside-text:nth-child(even) {
        /* background-color: #fff */
    }
}

.show-dropdown {
    position: absolute;
    display: block!important;
    right: 0px;
    top: 65px;
    height: auto;
    opacity: 1;
    background: #35424a;
    padding: 20px;
    transition: all ease-in 4s;
}

.show-side-drawer {
    left: 0;
    color: white;
}

.show-dropdown li {
    display: inherit!important;
    padding: 10px 0
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.58); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.already {
    text-align: center;
    margin: 10px;
}