.min-height {
    min-height: 1200px;
    border: 1px solid #669;
     background: rgba(122,255,100,0.4);
    /*background: #666*/
}

/*#f8f8f8*/

.user-section-aside {
    background-color: #f2f2f2;
    min-height: 300px;
    border-right: 1px solid #669;
}

.aside-content {
    font-size: 18px;
    line-height: 1.3;
}

.aside-text {
    padding: 10px
}

.aside-text:hover {
    background-color: #999
    cursor: pointer;
}

.aside-text:nth-child(odd) {
    background-color: #669
}

.aside-text a {
    font-size: 18px;
    line-height: 1.3;
}

.default-main-content {
    font-size: 25px;
    color: #669;
    font-family: cursive;
}

.default-main-content p {
    padding: 10px 0;
}

@media (min-width: 767px) {
    .md-toggle-none {
        display: none!important;
    }

}

@media (max-width: 767px) {
    .md-dropdown-none {
        display: none;
        padding: 10px 0;
        height: 0;
        position: relative;
        opacity: 0;
        transition: all ease-in 4s;
    }
}

.sm-dropdown {
    position: absolute;
    display: block!important;
    right: 0px;
    top: 65px;
    height: auto;
    opacity: 1;
    background: #35424a;
    padding: 20px;
    transition: all ease-in 4s;
}

.sm-dropdown li {
    display: inherit!important;
    padding: 10px 0
}

/*position: absolute;
    width: 70%;*/