body {
    margin: 0;
    padding: 0;
    overflow: scroll;
}
.grid-parent {
    display: grid;
    grid-template-areas: 
        "header header"
        "nav content"
        "nav footer";
    grid-template-columns:
        minmax(300px,1fr)
        4fr;
    grid-template-rows: 
        1fr
        4fr
        1fr;
    height: 100vh;
    width: 100vw;
    margin:0  auto ;
}

.grid-parent > * {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

header {
        grid-area: header;
        background-color: gray;
        border: 1px solid black;
}

aside {
        grid-area: nav;
        background-color:  #35424a;
        border: 1px solid black;
        justify-self: 
}
section {
     grid-area: content;
     background-color: 
    border: 1px solid black;
}

footer {
        grid-area: footer;
        background-color: aqua;
        border: 1px solid black;
}
header .entity {
    display: flex;
    background: #35424a;
    color: #ffffff;
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
}
 .menu ul {
    display: flex;
    margin: 20px;
    padding: 30px;
    margin-right: auto; 
    width: 100%;
}
ul li {
    list-style-type: none;
    margin: 10px;    
}
li a {
    color: #ffffff;
    text-decoration: none;
    align-self: start;
}
.fillup li a {
    width: 100%;
    height: 100%;
    font-size: 20px;
}