body {
	margin: 0px;
	padding: 0px;
	background: url(https://as2.ftcdn.net/jpg/01/91/58/83/500_F_191588315_EszVGA7RNKeT94rTF9hW2m1nE67MxN31.jpg);
	background-repeat: no-repeat;
	height: 100%;
	background-size: cover;
	background-position: center;
	font-size: 20px;
	font-family: Arial;
	}
header {
	background: #35424a;
	color: #ffffff;
	padding-top: 25px;
	min-height: 70px;
	border-bottom: pink 1px solid;
}
header a {
	color: #ffffff;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 16px;
  
}
header ul {
	padding: 0;
	margin-top: 0;
}

header li {
	float: left;
	display: inline;
	padding: 0 20px;
	
}
header a: hover {
	cursor: pointer;
	color: red;
}
header .entity {
	float: left;
}
header .entity h1 {
	margin: 10px;
	font-weight: bolder;
}
header nav {
	float: right;
	margin-top: 10px;
}
.view {
	text-align: center;
	font-size: 30px;
	font-weight: 2em;
	text-decoration: none;
	margin-top: 100px;
}
@keyframes slidein {
  from {
    margin-top: 100%;
    width: 100%;
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}
.view p {
	overflow: hidden;
	line-height: 1.6;
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}
.signin {
	text-align: center;
	margin-top: 100px;
	padding: 10px;
	margin: 10px;
	font-family: Arial;
}
.signup {
	text-align: center;
}

