body {
	margin: 0px;
	padding: 0px;
	background: url(https://as2.ftcdn.net/jpg/01/91/58/83/500_F_191588315_EszVGA7RNKeT94rTF9hW2m1nE67MxN31.jpg);
	background-repeat: no-repeat;
	height: 100%;
	background-size: cover;
	background-position: center;
}

.main {
	display: block;
	border: 1px solid pink;
	position: top;
}

.entity{
	padding: 20px;
	float: left;
	font-family: fantasy;
	font-size: 20px;
}
.menu {
	margin-right: auto;
	font-size: 20px;
	padding: 10px;
	float: right;

	
}
	


ul {
	list-style-type: none;
	display: flex;
	padding: 10px;
	margin-right: 10px;

}

li a {
text-decoration: none;
padding: 10px;
text-align: left;
font-size: 20px;
font-family: sans-serif;
text-transform: capitalize;

}

.view {
	text-align: center;
	font-size: 30px;
	font-weight: 2em;
	text-decoration: none;
	margin-top: 200px;
}	
